@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
    --bg: #FBF3D6;
    --bg-section: #ffffff;
    --primary: #8D472B;
    --accent: #D87C30;
    --text: #3e3e3e;

    --font-p: "Funnel Display", sans-serif;
    --font-h: "Patua One", serif;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* header */
    header{
        display: flex;
        justify-content: space-between;
    }

    .right-header {
        display: inline-flex;
        align-items: center;
        margin-right: 30px;
    }

    .right-header a {
        font-size: 1.4em;
    }

    /* Main */

    #intro {
        padding: 280px 0;
    }

    #intro h1 {
        font-size: 7em;
    }

    #intro p {
        margin-top: 20px;
        padding: 0 136px;
        font-size: 1.5em;
    }

    /* História */

   .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 50px;
    }

    .card-text {
        width: 50%;
    }

    .card-text h2 {
        font-size: 2.5em;
        text-align: center;
    }

    .card-text p {
        text-align: justify;
        font-size: 1.3em;
    }

    .card-img {
        width: 45%;
        margin-top: 0;
    }

    .card-img img {
        width: 100%;
        max-width: none;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    /* Momentos especiais */
    
    .galeria-fotos {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 16px
    }

    .galeria-fotos img {
        height: 100%;
    }



}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /* header */
    header{
        display: flex;
        justify-content: space-between;
    }

    .left-header img {
        width: 150px;
    }

    .right-header {
        display: inline-flex;
        align-items: center;
        margin-right: 100px;
    }


    .right-header a {
        font-size: 1.7em;
    }

    .right-header a:hover {
        transition: .3s;
        color: var(--bg);
        text-decoration: underline;
    }

    /* Main */

    #intro {
        padding: 266px 0;
        background-image: linear-gradient(to top, var(--bg) 98%, var(--primary));
    }

    #intro h1 {
        font-size: 7em;
    }

    #intro p {
        margin-top: 20px;
        padding: 0 136px;
        font-size: 1.5em;
    }

    /* História */

    .historia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 50px;
        width: 80vw;
    }

    .card:hover {
        transition: 0.3s;
        width: 90vw;
    }

    .card-text {
        width: 50%;
    }

    .card-text h2 {
        font-size: 2.5em;
        text-align: center;
    }

    .card-text p {
        text-align: justify;
        font-size: 1.3em;
    }

    .card-img {
        width: 30%;
        margin-top: 0;
    }

    .card-img img {
        width: 70%;
        max-width: none;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    /* Momentos especiais */

    #sec-fotos h1 {
        font-size: 5em;
        margin-bottom: 100px;
    }
    
    .galeria-fotos {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 16px
    }

    .galeria-fotos img {
        height: 100%;
        transition: transform .3s;
    }

    .foto img:hover {
        transition: .3s;
        transform: scale(1.05);
    }

}