@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
    --bg: #FBF3D6;
    --bg-section: #ffffff;
    --primary: #8D472B;
    --accent: #D87C30;
    --text: #3e3e3e;

    --font-p: "Funnel Display", sans-serif;
    --font-h: "Patua One", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: var(--font-p);
    background: var(--bg);
    overflow-x: hidden;
}

/* ================= HEADER ================= */

header {
    background: var(--primary);
    padding: 15px 20px;
    text-align: center;
}

.left-header img {
    width: 90px;
}

.right-header {
    margin-top: 10px;
}

.right-header a {
    text-decoration: none;
    color: var(--bg-section);
    font-size: 1.1em;
    margin: 0 10px;
}


/*confirm*/


.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-section);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.box h2 {
    color:  var(--primary);
    font-family: var(--font-h);
    font-size: 3em;
}

.box p {
    font-family: var(--font-p);
    font-size: 1.2em;
    color:var(--text);
}





/* ================= FOOTER ================= */



footer {
    background: var(--bg-section);
    text-align: center;
    padding: 40px 20px;
}

.contato {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contato a {
    color: var(--primary);
    font-size: 2em;
}

footer p {
    margin-top: 20px;
    color: var(--text);
}

.fixarRodape {
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
    }