@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
    --bg: #FBF3D6;
    --bg-section: #ffffff;
    --primary: #8D472B;
    --accent: #D87C30;
    --text: #3e3e3e;

    --font-p: "Funnel Display", sans-serif;
    --font-h: "Patua One", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Isso "tranca" a rolagem lateral no celular */
    position: relative;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: var(--font-p);
    background: var(--bg);
    overflow-x: hidden; /* segurança contra overflow */
}

/* ================= HEADER ================= */

header {
    background: var(--primary);
    padding: 15px 20px;
    text-align: center;
}

.left-header img {
    width: 90px;
}

.right-header {
    margin-top: 10px;
}

.right-header a {
    text-decoration: none;
    color: var(--bg-section);
    font-size: 1.1em;
    margin: 0 10px;
}

/* FORMS */

/* ================= FORM ================= */

main {
    padding: 40px 20px;
}

#form {
    background: var(--bg-section);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 20px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#form h2 {
    text-align: center;
    font-family: var(--font-h);
    color: var(--primary);
    font-size: 2em;
    margin-bottom: 30px;
}


/* ================= Forma ================= */

.input {
    position: relative;
    margin-bottom: 20px;
}


.input input {
    width: 100%;
    padding: 18px 45px 18px 15px; 
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    background: #f5f5f5;
    font-size: 1em;
    outline: none;
    transition: 0.3s;
}


.input input:focus {
    border-color: var(--primary);
    background: white;
}


.input label {
    position: absolute;
    left: 15px;
    top: 18px;
    color: #777;
    font-size: 0.95em;
    pointer-events: none;
    transition: 0.3s ease;
}

input[type="checkbox"] {
  accent-color: var(--primary);
}


.input input:focus + label,
.input input:valid + label {
    top: -8px;
    left: 12px;
    font-size: 0.75em;
    background: white;
    padding: 0 5px;
    color: var(--primary);
}


.input i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary);
    font-size: 1em;
    pointer-events: none;
}


/* checkbox */
.check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    font-size: 0.9em;
}

/* botão */
.button input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background: var(--accent);
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}


/* ================= FOOTER ================= */



footer {
    background: var(--bg-section);
    text-align: center;
    padding: 40px 20px;
}

.contato {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contato a {
    color: var(--primary);
    font-size: 2em;
}

footer p {
    margin-top: 20px;
    color: var(--text);
}