@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg: #FBF3D6;
    --bg-section: #ffffff;
    --primary: #8D472B;
    --accent: #D87C30;
    --text: #3e3e3e;

    --font-p: "Funnel Display", sans-serif;
    --font-h: "Patua One", serif;
    --font-nf: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    font-family: var(--font-h);
    color: var(--text);
    line-height: 1.7;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
/* ================= HEADER ================= */

header {
    background: var(--primary);
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

header img {
    width: 60px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.465);
}

.box {
    background-color: var(--bg-section);
    min-width: 40vw;
    max-width: 500px;
    border-radius: 20px;
    text-align: center;
    margin: 100px auto;
    font-family: var(--font-nf);
    padding: 10px 0 15px 0;
    color: var(--text);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.285);
}

main {
    flex-grow: 1;
}



/*====== FOOTER ===========*/

footer {
    background: white;
    padding: 40px 20px;
    text-align: center;
    margin-top: 80px;
    border-top: 1px solid rgba(0,0,0,0.05);
}

footer a {
    color: var(--primary);
    margin: 0 12px;
    font-size: 22px;
    transition: 0.3s;
    text-decoration: none;
}

footer a:hover {
    color: var(--accent);
}

footer p {
    margin-top: 15px;
    font-size: 0.9rem;
    opacity: 0.7;
}